.results-page {
	background: white;
	padding: 90px 2rem 2rem;
	color: $text-color;
	.result-card {
		border-top: 2px solid $brand-color;
		margin: 1rem 0rem;
		padding: 2rem 0 1rem;
		.result-term {
			font-size: 175%;
			font-weight: bold;
			text-transform: capitalize;
			margin-bottom: 1rem;
		}
		.result-line {
			margin-bottom: 20px;
			.result-field span {
				border-radius: 4px;
				background: $brand-color;
				color: white;
				text-transform: uppercase;
				display: inline-block;
				padding: 8px 12px;
				font-size: 75%;
			}
			.result-ar {
				direction: rtl;
				height: 100%;
				padding-top: 5px;
			}
			.result-link {
				padding-top: 5px;
				text-align: right;
			}
		}
	}
	.term-card {
		padding: 1rem 0;
		.term-header {
			border-bottom: 2px solid $brand-color;
			padding: 1rem 0;
			.term-title {
				font-size: 175%;
				font-weight: bold;
				text-transform: capitalize;
				margin-bottom: 1rem;
			}
			.term-field {
				float: right;
				border-radius: 4px;
				background: $brand-color;
				color: white;
				text-transform: uppercase;
				display: inline-block;
				padding: 8px 12px;
				font-size: 75%;
			}
		}
		.list-group-item {
			border-top: none;
			border-left: none;
			border-right: none;
			border-bottom: 2px solid $light-grey;
			padding: 1.5rem 0 1.75rem;
			min-height: 130px;
			.feedback {
				margin-top: -10px;
				padding: 0;
				.upvote {
					position: relative;
					width: 0;
					height: 0;
					padding: 0;
					background: transparent;
					border-style: solid;
					border-width: 0 14px 14px 14px;
					border-color: transparent transparent $mid-grey transparent;
					margin-bottom: 1rem;
					&:focus { outline: 0; }
					&:hover {
						border-color: transparent transparent $brand-color transparent;
					}
					&.upvoted {
						border-color: transparent transparent $brand-color transparent;
					}
				}
				.downvote {
					position: relative;
					width: 0;
					height: 0;
					padding: 0;
					background: transparent;
					border-style: solid;
					border-width: 14px 14px 0 14px;
					border-color: $mid-grey transparent transparent transparent;
					margin-top: 1rem;
					margin-bottom: .75rem;
					&:focus { outline: 0; }
					&:hover {
						border-color: $danger-color transparent transparent transparent;
					}
					&.upvoted {
						border-color: $danger-color transparent transparent transparent;
					}
				}
				.score {
					width: 28px;
					text-align: center;
					font-weight: bold;
				}
			}
			.term-ar {
				padding-top: 0.25rem;
				direction: rtl;
				text-align: right;
				font-size: 125%;
				.flag {
					background: none;
					border: none;
					padding: 0 0 10px;
					margin: 0;
					font-size: 75%;
					display: inline-block;
					margin-top: 10px;
					margin-left: 10px;
					color: $text-color;
					&:hover {
						color: $brand-color;
					}
				}
			}
		}
	}
}