<h2>New term</h2>
<form action='/terms' method='post'>
    <input name='new_term_en' type='text' placeholder='add new term here' style="width: 300px; height: 40px;" required>
    <button name='submit' type='submit'>Submit</button>
  </form>

