<h2>All flagged items</h2>
<% if @flags.size == 0 %>
  <h2>No flagged items </h2>
<% else %>
  <% @flags.each do |flag| %>
    <div class="card">
      <div class="card-block">
        <h2 class="card-header">Flagged Answer: <%= find_answer(flag).definition %></h2>
          <p class="card-text col-sm-10">For the term: <%= find_term(find_answer(flag)).term_en %></p>
          <p class="card-text col-sm-2">
            <%= form_for([find_term(find_answer(flag)), find_answer(flag), flag], method: 'delete') do |f| %>
              <%= f.submit value:"Unflag" %>
            <% end %>
          </p>
      </div>
    </div>
  <% end %>
<% end %>
