.isolated-msg {
	width: 100%;
	padding-top: 3rem;
	text-align: center;
	a {
		display: block;
		margin: 1rem 0;
		text-decoration: underline 
	}
}

.floated-msg {
	display: inline-block;
	background: purple
}