<form role="form" action="/terms" method="get" id="term_search">
  <div class="form-group col-xs-3">
    <input type="text" name="term" placeholder="Search"/>
    <input type="submit" value="Search">
  </div>
</form>
<div class="form-group col-xs-3">
  <select class="form-control input-sm" name ="field_id" form="term_search">
      <option value="" disabled selected>(Optional)Pick a field...</option>
      <% @fields.each do |field| %>
        <option value="<%= field.id %>"><%= field.name %></option>
      <% end %>
  </select>
</div>
