  <form role="form" action="/terms" method="get" id="term_search">
  <input type="text" name="term_en" placeholder="Search"/>
  <input type="submit" value="Search">
</form>
<select name ="ac_field_en" form="term_search">
  <option value="" disabled selected>(Optional)Pick a field...</option>
  <% @fields.each do |field| %>
    <option value="<%= field %>"><%= field %></option>
  <% end %>
</select>
